mat-form-field {
  margin-right: 12px;
}

mat-form-field.product-name {
  width: 30%;
}

.table-container {
  position: relative;
  min-height: 300px;
  height: 400px;
  max-width: 100%;
  overflow: auto;
}

.loading-overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

th.mat-sort-header-sorted {
  color: black;
}